@inject NavigationManager NavigationManager

<button @onclick="GoToHome"
	class="teste">
<img src="https://i.imgur.com/5bFaze3.png" title="source: imgur.com" border=0 class="teste" width="50" height="50"/>
</button>
@code {
	private void GoToHome()
	{
		NavigationManager.NavigateTo("");
	}

}
