@inject NavigationManager NavigationManager

<button @onclick="GoToHome"
	class="btn btn-outline-primary home-button">
	XP
</button>
@code {
	private void GoToHome()
	{
		NavigationManager.NavigateTo("");
	}

}
