@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-2 teste">
            <HomeButton/>
            <Search />
            <UserButton />
            <CartCounter/>
        </div>

        <div class="nav-menu">
            <InvestmentNavMenu />
        </div>

        <article class="content px-2">
            @Body
        </article>
    </main>
</div>